.main__section {
    position:relative;
    width:100%;
    padding:8.6rem 1rem 8.4rem;
    box-sizing:border-box;
    background:url(../images/banner/banner_main_section.png)no-repeat center / cover;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.main__section::after {
    content:'*기부 금액 산출 기준: 낙찰가 - 경매 시작가';
    position:absolute;
    right:2.2rem;
    bottom:1.2rem;
    font-size:0.9rem;
    color:#a19089;
    font-weight:var(--medium);
}
.main__section__logo {width:100%;max-width:36.85rem;height:auto;}
.main__notice {text-align:center;margin:5.9rem 0 2.75rem;}
.main__notice strong {
    font-size:1.8rem;
    color:#564845;
    font-weight:var(--medium);
}
.main__notice p {
    font-size:1.2rem;
    line-height:1.8rem;
    color:#a19089;
    font-weight:var(--regular);
    padding-top:0.7rem;
}
.main__result {gap:3rem;grid-gap:4rem;}
.main__result > div {
    position:relative;
    text-align:center;
    padding:0.5rem 0;
}
.main__result > div::after {
    content:'';
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    top:0;
    width:100%;
    max-width:11rem;
    height:3px;
    background:#ac9c95;
}
.main__result > div::before {
    content:'';
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:0;
    width:100%;
    max-width:11rem;
    height:3px;
    background:#ac9c95;
}
.main__result > div span {
    font-size:1rem;
    line-height:1.4rem;
    color:#a19089;
    font-weight:var(--semibold);
}
.main__donation {gap:8.45rem;grid-gap:8.45rem;margin-top:5.5rem;}
.main__donation div h6 {
    font-size:1.5rem;
    color:#3f3200;
    font-weight:var(--medium);
    line-height:1;
}
.main__donation div span {
    font-size:1.2rem;
    color:#3f3200;
    font-weight:var(--bold);
    line-height:1;
}
.main__donation div span span {
    font-size:3.6rem;
}
.swiper__section {background-color:#564845;padding:4.05rem 0 6rem;}
.title {text-align:center;}
.title small {
    font-size:0.8rem;
    line-height:0.7rem;
    letter-spacing:-0.2px;
    color:rgba(255,255,255,0.7);
    font-weight:var(--medium);
}
.title span {
    font-size:1.85rem;
    line-height:1.85rem;
    letter-spacing:-0.33px;
    color:#fff;
    padding-top:0.3rem;
    font-family: "newyork";
}
.auction {
    position:relative;
    margin-top:1.05rem;
}
.auction::before {
    content:'';
    position:absolute;
    left:0;
    top:50%;
    transform:translateY(-50%);
    width:100%;
    height:1px;
    background:#dcdcdc;
    z-index:1;
}
.auctiontime {
    position:relative;
    display:flex;
    justify-content:center;
    z-index:30;
}
.auctiontime > .flex {
    display:inline-flex;
    gap:0.55rem;
    grid-gap:0.55rem;
    background:#564845;
    padding:0 0.6rem;
}
.auctiontime .flex > span {
    font-size:0.625rem;
    line-height:0.9rem;
    letter-spacing:-0.45px;
    color:#fff;
    font-weight:var(--medium);
}
.auctiontime .time {
    gap:0.1rem;
    grid-gap:0.1rem;
}
.auctiontime .time div {
    position:relative;
    justify-content:center;
    width:2.25rem;
    height:2.25rem;
    border-radius:0.16rem;
    background:var(--base-black);
    box-sizing:border-box;
    box-shadow:0px 1px 2px rgba(0,0,0,0.02);
}
.auctiontime .time .flex span {
    font-size:1.295rem;
    letter-spacing:0.23px;
    color:var(--base-white);
    font-family: "BB-R";
    line-height:1;
    position:relative;
    z-index:10;
    transform:translateY(-1px);
}
.auctiontime .time div::before {
    content:'';
    position:absolute;
    left:0;
    top:50%;
    transform:translateY(-50%);
    width:100%;
    height:2px;
    background:#fff;
    opacity:.5;
    z-index:1;
}
.auctiontime .time span {
    font-size:0.89rem;
    line-height:0.89rem;
    letter-spacing:0.16px;
    color:#4a4a4a;
    font-weight:var(--regular);
    font-family: "BB-R";
    transform:translateY(-2px);
}
.product__items {
    position:relative;
    cursor:grab;
}
.product__items .crown {
    position:absolute;
    right:0.7rem;
    top:0.7rem;
    width:1.3rem;
    height:1.3rem;
}
.section__auction__swiper {
    width:84.3rem;
    max-width:84.3rem;
    padding:0 1rem;
    margin:3.75rem auto 0;
    box-sizing:border-box;
}
.product__items > div:nth-child(1) {
    width: 100%;
    height:300px;
    background-color: #eee;
}
.product__thumbnail {
    align-items:center;
    justify-content:center;
}
.product__thumbnail img {
    width:100%;
    max-width:4.15rem;
    height:14.65rem;
    margin-bottom:-1rem;
}
.product__items > div:nth-child(2) {
    width: 100%;
    box-sizing:border-box;
    padding:0.75rem 1rem 1rem;
    background-color: #fff;
}
.product__items.crownpd > div:nth-child(1) {
    background-color:#e5dad4;
}
.product__items__info small {
    font-size:0.7rem;
    color:#d6d6d6;
    font-weight:var(--bold);
}
.product__items__info > span {
    font-size:1rem;
    font-family: "Co-sb";
    line-height:1.1rem;
    color:#222;
    font-weight:var(--bold);
    padding-top:0.4rem;
}
.product__items__info .product__price {gap:0.4rem;grid-gap:0.4rem;margin:1.7rem 0 0.2rem;}
.product__items__info .product__price img {
    width:100%;
    max-width:3.35rem;
    height:1rem;
}
.product__items__info .product__price span {
    font-size:0.8rem;
    color:#a19089;
    font-weight:var(--bold);
}
.btn__prev__more {justify-content:flex-end;cursor: pointer;}
.btn__prev__more img {
    width:100%;
    max-width:3.4rem;
    height:0.95rem;
}
.last__section {
    width:100%;
    box-sizing:border-box;
    background:url(../images/banner/banner_last_section.png)no-repeat left center / cover;
    padding:5.3rem 10% 4.75rem;
}
.last__section .blog {justify-content:space-between;}
.last__section .blog .flex-direction {
    align-items:center;
    text-align:center;
}
.last__section .blog img {
    width:100%;
    max-width:14.4rem;
    height:auto;
}
.last__section .blog .flex-direction > span {
    font-size:1.2rem;
    color:#e3d8d2;
    font-weight:var(--semibold);
    padding-top:1.4rem;
}
.last__section .blog .flex-direction .btn__blog {
    justify-content:center;
    cursor: pointer;
    width:100%;
    max-width:11.25rem;
    height:2.7rem;
    border:1px solid #7f8775;
    box-sizing:border-box;
    margin-top:1.8rem;
}
.last__section .blog .flex-direction .btn__blog span {
    font-size:0.8rem;
    line-height:1;
    color:#7f8775;
    font-weight:var(--bold);
}
.award {gap:2.5rem;grid-gap:2.5rem;}
.last__section .award > .flex-direction {gap:0.6rem;grid-gap:0.6rem;align-items:flex-end;}
.award > .flex-direction div {
    width:100%;
    width:14.5rem;
    height:19.4rem;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-color:rgba(0,0,0,0.5);
    overflow:hidden;
}
.award > .flex-direction:nth-child(1) div {
    border-radius:0 0 0 5rem;
}
.award > .flex-direction:nth-child(2) div {
    border-radius:0 5rem 0 0;
}
.last__section .award > .flex-direction p {
    font-size:0.6rem;
    color:#fff;
    font-weight:var(--semibold);
}





























































@media screen and (max-width:1647px) {
    .section__auction__swiper {width:100%;max-width:100%;}
}
@media screen and (max-width:1451px) {
    .last__section .blog .flex-direction > span {font-size:1rem;}

}
@media screen and (max-width:1331px) {
    .last__section .blog {flex-direction:column;}
    .award {margin-top:2rem;width:100%;justify-content:center;}   
}
@media screen and (max-width:1201px){
    .container-fluid {width:100%;max-width:100%;min-width:auto;}
    .container {width:100%;max-width:100%;min-width:auto;}
    .main__notice strong {font-size:1.4rem;word-break:keep-all;}
    .main__notice p {font-size:1rem}
}
@media screen and (max-width:1101px){
    .foot_top .forms {flex-direction:column;gap:2rem;grid-gap:2rem;}
    .foot_bot {flex-direction:column;align-items:flex-start;gap:2rem;}
}
@media screen and (max-width:1030px){
    .foot_bot > .container {flex-direction:column;gap:1rem;grid-gap:1rem;}
    .foot_top {justify-content:center;}
    .foot_top .forms {align-items:center;}
    .footlogo {align-items:center;}
    .foot_top .formle {align-items:flex-start;}
    .main__notice strong {font-size:1.2rem;word-break:keep-all;}
    .main__notice p {font-size:0.8rem}
    .main__result {width:100%;flex-direction:column;gap:0;grid-gpa:0;}
    .main__result > div {width:100%;min-height:60px;line-height:60px;}
    .main__result > div:nth-child(2) {padding:0.35rem 0;}
    .main__result > div:nth-child(2)::after, .main__result > div:nth-child(2)::before {display:none;}
    .main__result > div::after , .main__result > div::before {width:100%;max-width:100%;}
    .main__result > div span {line-height:1;}
    .main__result > div span br {display:none;}
    .main__donation {gap:4.45rem;grid-gap:4.45rem;margin-top:2.5rem;}
    .main__donation div h6 {font-size: 1rem;}
    .main__donation div span {font-size:0.9rem}
    .main__donation div span span {font-size:2rem;}
}

@media screen and (max-width:768px){
    .wrap {padding-top:3.1rem;}
    .header_top {height:3.1rem;}
    .header_top .container .option::after {display:none;}
    .header_wrap .container-fluid {min-width:auto;}
    .header_menu {display:none;}
    .header_top .container .userin {display:none;}
    .header_top .container .logo img {width:5.8rem;height:1rem;}
    .header_top .container .leftmenu {gap:0.7rem;grid-gap:0.7rem;}
    .header_top .container .leftmenu .menu_btn {display:flex;}
    .header_top .container .leftmenu .logo {display:block;}
    .header_top .container .leftmenu .search_box {display:none;}
    .header_top .container .mobile_logo {display:none;}
    .header_top .container .option .user {display:none;}
    .header_top .container .option .mobile_search {display:flex;}
    .main__section {padding:4rem 1rem 4rem;}
    .last__section {padding:5.3rem 1rem 4.75rem;}
    .award {gap:1rem; grid-gap:1rem;}
    .last__section .award > .flex-direction {width:100%;}
    .award > .flex-direction div {width:100%;max-width:14.5rem;}
}
@media screen and (max-width:675px){
    .foot_bot .left_ {flex-direction:column;}
    .foot_top .formri {gap:1rem;grid-gap:1rem;}
    .foot_top .formri > .flex-direction ul li a {white-space:nowrap;}
    .main__notice {margin:3rem 0 2.75rem;}
    .main__notice strong {font-size:0.9rem}
    .main__notice p {font-size:0.75rem}
    .main__result > div span {font-size:0.7rem}
    .main__result > div {min-height:40px;line-height:40px;}
    .main__donation {gap:2rem;grid-gap:2rem;margin-top:2.5rem;}
    .main__donation div h6 {font-size: 0.7rem;}
    .main__donation div span {font-size:0.7rem}
    .main__donation div span span {font-size:1.5rem;}
    .main__section::after {font-size:0.7rem;right:0.5rem;bottom:0.5rem;}
}
@media screen and (max-width:499px){
    .award {flex-direction:column;gap:2rem;grid-gap:2rem;}
    .last__section .award > .flex-direction {align-items:center;}
    .award > .flex-direction:nth-child(1) div , .award > .flex-direction:nth-child(2) div {border-radius:0.5rem;}
}
@media screen and (max-width:391px){
    .main__notice p {font-size:0.65rem;line-height:1.4rem;}
    .main__result > div {height:30px;line-height:33px;}
    .main__result > div span {font-size:0.6rem;}
}